<Container Padding="Padding.Is0">
    <Row Margin="Margin.Is2">
        <Column ColumnSize="ColumnSize.Is12" Padding="Padding.Is1">
            @Quiz.Title
        </Column>
    </Row>
    <Row Margin="Margin.Is2">
        <Column ColumnSize="ColumnSize.Is3">
            <Row>
                <ListGroup>
                    @foreach (var round in Quiz.Rounds)
                    {
                        <ListGroupItem>
                            <Row>
                                <Column ColumnSize="ColumnSize.Is12">
                                    @round.Title
                                </Column>
                                <Column ColumnSize="ColumnSize.Is12">
                                    @{
                                        @for (int i = 0; i < round.Questions.Count; i++)
                                        {
                                            // Not capturing the iterator will cause everything to take the last value of i
                                            int captured = i;
                                            <Button Color="Color.Secondary" Outline="true">
                                                @(captured + 1)
                                            </Button>
                                        }
                                    }
                                </Column>
                            </Row>
                        </ListGroupItem>
                    }
                </ListGroup>
            </Row>
            <Row>
                
            </Row>
        </Column>
        <Column ColumnSize="ColumnSize.Is9">
            
        </Column>
    </Row>
</Container>
