@page "/settings/security"
@layout SettingsLayout
@attribute [Authorize]

<PageTitle Value="Security settings" />

@if (WasSuccessful)
{
    <Alert Color="Color.Success" Margin="Margin.Is3.OnY" Visible="true">
        <AlertDescription>
            Password changed.
        </AlertDescription>
        <CloseButton Class="close-alerts-center" />
    </Alert>
}

<AuthForm Errors="Errors" Model="Model" OnSubmit="ChangePasswordAsync" SubmitText="Change password">
    <Title>
        Password
    </Title>
    <Form>
        <Field>
            <FieldLabel for="currentPassword">
                Current Password
            </FieldLabel>
            <TextEdit id="currentPassword" @bind-Text="Model.CurrentPassword" Role="TextRole.Password" autocomplete="current-password" />
            <ValidationMessage For="() => Model.CurrentPassword" />
        </Field>
        <Field>
            <FieldLabel for="newPassword">
                New Password
            </FieldLabel>
            <TextEdit id="newPassword" @bind-Text="Model.NewPassword" Role="TextRole.Password" autocomplete="new-password" />
            <ValidationMessage For="() => Model.NewPassword" />
        </Field>
        <Field>
            <FieldLabel for="confirmPassword">
                Confirm Password
            </FieldLabel>
            <TextEdit id="confirmPassword" @bind-Text="Model.ConfirmPassword" Role="TextRole.Password" autocomplete="new-password" />
            <ValidationMessage For="() => Model.ConfirmPassword" />
        </Field>
    </Form>
</AuthForm>
