@page "/settings/email_change"
@layout AuthLayout
@attribute [Authorize]

<FullPageTitle Value="Change your email" />

@if (Errors != null)
{
    <Alert Color="Color.Danger" Margin="Margin.Is3.OnY" Visible="true">
        <AlertDescription>
            @foreach (var error in Errors!)
            {
                <Paragraph Margin="Margin.Is1.OnY" Padding="Padding.Is2.FromRight">@error</Paragraph>
            }
        </AlertDescription>
        <CloseButton Class="close-alerts-center" />
    </Alert>
}

<Card Background="Background.Light">
    <CardBody>
        @if (Errors is null)
        {
            <text>Changing email...</text>
        }
        else
        {
            <text>Error changing email.</text>
        }
    </CardBody>
</Card>

<Card Background="Background.Transparent" Margin="Margin.Is3.OnY">
    <CardBody>
        <Text Alignment="TextAlignment.Center">
            Go back to <a href="/settings/email">your settings</a>.
        </Text>
    </CardBody>
</Card>
