@inherits LayoutComponentBase

<Heading Size="HeadingSize.Is1" Alignment="TextAlignment.Center" Padding="Padding.Is5.FromTop.Is4.FromBottom">
    <Blazorise.Link To="/" Class="text-reset">
        <QuibbleIcon/>
    </Blazorise.Link>
</Heading>

@* Outer div is required so the scoped CSS is associated with this component *@ 
<div>
    <Container Margin="Margin.IsAuto">
        <Row>
            <Column>
                <div class="auth-form">
                    @Body
                </div>
            </Column>
        </Row>
    </Container>
</div>
