# Build results
artifacts/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# VS Code
.vscode/

# .NET
**/Properties/launchSettings.json

# JetBrains Rider
.idea/
*.DotSettings.user

environment.*.ts
appsettings.*.json
