@page "/forgot_password"
@layout AuthLayout

<FullPageTitle Value="Forgot password" />

<AuthForm Errors="Errors" Model="Model" OnSubmit="ForgotPasswordAsync" SubmitText="@(WasSuccessful ? null : "Send Reset Link")">
    <Title>
        Forgot Password
    </Title>
    <Form>
        @if (WasSuccessful)
        {
            <Blazorise.Text Margin="Margin.Is3.FromBottom">
                Please check 
                <Text Color="TextColor.Primary" Display="Display.Inline">
                    @Model.Email
                </Text>
                for a password reset link.
            </Blazorise.Text>
            <Button Block="true" Color="Color.Primary" Type="ButtonType.Link" To="/">
                Home
            </Button>
            <Button Block="true" Color="Color.Secondary" Clicked="() => WasSuccessful = false">
                Back
            </Button>
        }
        else
        {
            <Field>
                <FieldLabel For="email">
                    Email
                </FieldLabel>
                <TextEdit id="email" @bind-Text="Model.Email" type="email" autocomplete="email"/>
                <ValidationMessage For="() => Model.Email"/>
            </Field>
        }
    </Form>
</AuthForm>
