@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject SignInManager<DbQuibbleUser> SignInManager
@inject UserManager<DbQuibbleUser> UserManager

@{
    const string thisLayout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && (string)parentLayout != thisLayout)
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/_Layout.cshtml";
    }
}

<div class="main">
    <div class="container">
        <section class="b-layout b-layout-root">
            <header class="b-layout-header">
                <nav class="navbar navbar-light b-bar-light navbar-expand-md b-bar-horizontal" data-broken="false">
                    <div class="navbar-brand">
                        <div class="nav-item">
                            <a href="" class="active nav-link">
                                <h2 class="h2 text-left text-neon">
                                    Quibble
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse show">
                        <div class="navbar-nav ml-auto">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="nav-item">
                                    <a id="manage" class="nav-link text-white text-left" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                        @UserManager.GetUserName(User)
                                    </a>
                                </div>
                                <div class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="nav-item">
                                    <a class="nav-link text-white text-left" id="register" asp-area="Identity" asp-page="/Account/Register">
                                        Register
                                    </a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-white text-left" id="login" asp-area="Identity" asp-page="/Account/Login">
                                        Log in
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </nav>
            </header>
            <main class="b-layout-content">
                <div class="card px-4 py-3">
                    @RenderBody()
                </div>
            </main>
        </section>
    </div>
</div>

@section Head {
    @RenderSection("Head", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
} 