@page "/quiz/create"
@using Quibble.Client.Hubs
@inject NavigationManager NavigationManager
@inject QuizHubConnection QuizHubConnection

<input type="text" @bind="NewQuizTitle" placeholder="Quiz Title" />

<ActionButton Action="CreateQuizAsync">
    <Enabled>
        Create
    </Enabled>
    <Disabled>
        Creating
    </Disabled>
</ActionButton>

@if (ErrorDetail != null)
{
    <p>Error while creating quiz. @ErrorDetail</p>
}
