@page "/login"
@layout AuthLayout

<PageTitle Value="Log in to Quibble" />

<AuthorizeView>
    <Authorized>
        <RedirectTo Url="@ReturnUrl" />
    </Authorized>
</AuthorizeView>

<AuthForm Errors="Errors" Model="Model" OnSubmit="LoginAsync">
    <Title>
        Log in to Quibble
    </Title>
    <Form>
        <Field>
            <FieldLabel For="username">
                Username
            </FieldLabel>
            <TextEdit id="username" @bind-Text="Model.UserName" autocomplete="username" />
            <ValidationMessage For="() => Model.UserName" />
        </Field>
        <Field Class="auth-field-with-extra-label">
            <FieldLabel For="password">
                Password
            </FieldLabel>
            <TextEdit id="password" @bind-Text="Model.Password" Role="TextRole.Password" autocomplete="current-password" />
            <a class="auth-extra-label" href="/auth/forgotPassword">Forgot your password?</a>
            <ValidationMessage For="() => Model.Password" />
        </Field>
    </Form>
    <Submit>
        Log in
    </Submit>
    <Footer>
        <Text Alignment="TextAlignment.Center">
            New here?
            <a href="/auth/register?returnUrl=@Uri.EscapeDataString(ReturnUrl)">Create an account</a>.
        </Text>
    </Footer>
</AuthForm>
