@page "/auth/reset_password"
@layout AuthLayout

<AuthForm Errors="Errors" Model="Model" OnSubmit="ResetPasswordAsync">
    <Title>
        Reset password
    </Title>
    <Form>
        <Field>
            <FieldLabel For="email">
                Email
            </FieldLabel>
            <TextEdit id="email" @bind-Text="Model.Email" type="email" autocomplete="email" />
            <ValidationMessage For="() => Model.Email" />
        </Field>
        <Field>
            <FieldLabel For="password">
                New password
            </FieldLabel>
            <TextEdit id="password" @bind-Text="Model.NewPassword" type="password" autocomplete="new-password" />
            <ValidationMessage For="() => Model.NewPassword" />
        </Field>
        <Field>
            <FieldLabel For="confirmPassword">
                Confirm password
            </FieldLabel>
            <TextEdit id="confirmPassword" @bind-Text="Model.ConfirmPassword" type="password" autocomplete="new-password" />
            <ValidationMessage For="() => Model.ConfirmPassword" />
        </Field>
        <Field>
            <FieldLabel For="token">
                Reset token
            </FieldLabel>
            <TextEdit id="token" @bind-Text="Model.Token" disabled="@IsTokenPreFilled" autocomplete="off" />
            <ValidationMessage For="() => Model.Token" />
        </Field>
    </Form>
    <Submit>
        Reset Password
    </Submit>
</AuthForm>
