
.participant-name {
    -webkit-animation: participant-join-flash .8s ease-in-out 1;
    -moz-animation: participant-join-flash .8s ease-in-out 1;
    animation: participant-join-flash .8s ease-in-out 1;
}

@-webkit-keyframes participant-join-flash {
    0% {
        text-shadow: none;
    }
    25% {
        text-shadow: 0 0 3px #28232D;
    }
    100% {
        text-shadow: none;
    }
}