@page "/quiz/new"

<PageTitle Value="New quiz" />

<h1>New Quiz</h1>

<button @onclick="CreateAsync">Create</button>

@code
{
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private IHttpClientFactory HttpClientFactory { get; set; } = default!;

    private HttpClient HttpClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        HttpClient = HttpClientFactory.CreateClient("QuizApi");
    }

    private async Task CreateAsync()
    {
        var response = await HttpClient.PostAsync("", null);
        response.EnsureSuccessStatusCode();

        var result = await response.Content.ReadFromJsonAsync<Guid?>();
        if (!result.HasValue)
            throw new InvalidOperationException();

        var url = $"/quiz/{result}";
        NavigationManager.NavigateTo(url);
    }
}
