<Container>
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Card Margin="Margin.Is2">
            <CardHeader>
                    <CardTitle>New Quiz</CardTitle>
            </CardHeader>
            <CardBody>
                    <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false">
                            <Validation Validator="@ValidationRule.IsNotEmpty">
                                    <Field Horizontal="true">
                                            <FieldLabel ColumnSize="ColumnSize.Is2">Quiz Title</FieldLabel>
                                            <FieldBody ColumnSize="ColumnSize.Is10">
                                                    <TextEdit Placeholder="New Quiz" @bind-Text="QuizTitle">
                                                            <Feedback>
                                                                    <ValidationError>Quiz title cannot be empty</ValidationError>
                                                            </Feedback>
                                                    </TextEdit>
                                            </FieldBody>
                                    </Field>
                            </Validation>
                    </Validations>
                <Field Horizontal="true" JustifyContent="JustifyContent.End">
                    <FieldBody ColumnSize="ColumnSize.Is10.Is2.WithOffset">
                        <Button Color="Color.Primary" @onclick="CreateQuizAsync">Create!</Button>
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>
</Container>