<Heading Alignment="TextAlignment.Center" Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">
    @Title
</Heading>

@if (Errors != null)
{
    <Alert Color="Color.Danger" Margin="Margin.Is3.OnY" Visible="true">
        <AlertDescription>
            @foreach (var error in Errors!)
            {
                <Paragraph Margin="Margin.Is1.OnY" Padding="Padding.Is2.FromRight">@error</Paragraph>
            }
        </AlertDescription>
        <CloseButton Class="close-alerts-center" />
    </Alert>
}

<Card Background="Background.Light">
    <CardBody>
        <EditForm Model="Model" OnValidSubmit="OnSubmitting">
            <DataAnnotationsValidator />
            @Form
            <Button Type="ButtonType.Submit" Block="true" Color="Color.Primary" Disabled="_isSubmitting">
                @Submit
            </Button>
        </EditForm>
    </CardBody>
</Card>

@if (Footer is not null)
{
    <Card Background="Background.Transparent" Margin="Margin.Is3.OnY">
        <CardBody>
            @Footer
        </CardBody>
    </Card>
}
