<AuthorizeView>
    <Authorized>
        <a href="/auth/profile">@(context.User?.Identity?.Name ?? "Profile")</a>
        <a href="/auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        @* These are links so that they can be opened in a new tab, but opening in the current will instead navigate through NavigationManager. *@
        <a href="/auth/register" @onclick="RedirectToRegister" @onclick:preventDefault>Register</a>
        <a href="/auth/login" @onclick="Authentication.RedirectToLogin" @onclick:preventDefault>Log in</a>
    </NotAuthorized>
</AuthorizeView>
