<AuthorizeView>
    <Authorized>
        <BarItem>
            <BarDropdown>
                <BarDropdownToggle>
                    <Text Color="TextColor.White" Display="Display.Inline">
                        @(context.User?.Identity?.Name ?? "Profile")
                    </Text>
                </BarDropdownToggle>
                <BarDropdownMenu RightAligned="true">
                    <BarDropdownItem Padding="Padding.Is2.OnY">
                        <Text Padding="Padding.Is0">
                            Logged in as
                        </Text>
                        <Text Weight="TextWeight.Bold" Padding="Padding.Is0">
                            @context.User?.Identity?.Name
                        </Text>
                    </BarDropdownItem>
                    <BarDropdownItem To="/settings/user" Padding="Padding.Is2.OnY">
                        Settings
                    </BarDropdownItem>
                    <BarDropdownItem To="/logout" Padding="Padding.Is2.OnY">
                        Log out
                    </BarDropdownItem>
                </BarDropdownMenu>
            </BarDropdown>
        </BarItem>
    </Authorized>
    <NotAuthorized>
        <BarItem Margin="Margin.Is2.OnX">
            <a class="q-login-link" href="/login" @onclick="RedirectToLogin" @onclick:preventDefault>
                <Text Color="TextColor.White">
                    Log in
                </Text>
            </a>
        </BarItem>
        <BarItem Margin="Margin.Is2.OnX">
            <a class="q-login-link" href="/register" @onclick="RedirectToRegister" @onclick:preventDefault>
                <Text Color="TextColor.White">
                    Register
                </Text>
            </a>
        </BarItem>
    </NotAuthorized>
</AuthorizeView>
