<AuthorizeView>
    <Authorized>
        <BarItem>
            <BarDropdown>
                <BarDropdownToggle Class="text-light">
                    @(context.User?.Identity?.Name ?? "Profile")
                </BarDropdownToggle>
                <BarDropdownMenu RightAligned="true">
                    <BarDropdownItem Margin="Margin.Is1.OnY">
                        <Text Padding="Padding.Is0">
                            Logged in as
                        </Text>
                        <Text Weight="TextWeight.Bold" Padding="Padding.Is0">
                            @context.User?.Identity?.Name
                        </Text>
                    </BarDropdownItem>
                    <Divider Margin="Margin.Is2.OnY" />
                    <BarDropdownItem To="/settings/user" Margin="Margin.Is1.OnY">
                        Settings
                    </BarDropdownItem>
                    <Divider Margin="Margin.Is2.OnY" />
                    <BarDropdownItem To="/logout" Margin="Margin.Is1.OnY">
                        Log out
                    </BarDropdownItem>
                </BarDropdownMenu>
            </BarDropdown>
        </BarItem>
    </Authorized>
    <NotAuthorized>
        <BarItem Margin="Margin.Is2.OnX">
            <a class="q-login-link" href="/login" @onclick="RedirectToLogin" @onclick:preventDefault>
                Log in
            </a>
        </BarItem>
        <BarItem Margin="Margin.Is2.OnX">
            <a class="q-login-link" href="/register" @onclick="RedirectToRegister" @onclick:preventDefault>Register</a>
        </BarItem>
    </NotAuthorized>
</AuthorizeView>
