@page "/auth/changeEmail"

<h2>Change Email</h2>

@if (Errors != null)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}
else
{
    <p>Loading...</p>
}
