@page "/auth/forgotPassword"
@layout AuthLayout

<AuthForm Errors="Errors" Model="Model" OnSubmit="ForgotPasswordAsync">
    <Title>
        Forgot password
    </Title>
    <Form>
        <Field>
            <FieldLabel For="email">
                Email
            </FieldLabel>
            <TextEdit id="email" @bind-Text="Model.Email" type="email" autocomplete="email" />
            <ValidationMessage For="() => Model.Email" />
        </Field>
    </Form>
    <Submit>
        Send Reset Link
    </Submit>
</AuthForm>
