@page "/auth/profile"
@attribute [Authorize]

<h2>@(UserName ?? "Profile")</h2>

<div class="my-4">
    <ChangePassword />
</div>

<div class="my-4">
    <RequestChangeEmail />
</div>

<div class="my-4">
    <ChangeUsername />
</div>

