@page "/auth/profile"
@attribute [Authorize]
@using BlazorIdentityBase.Client.Services

<h2>@(UserName ?? "Profile")</h2>

<div class="my-4">
    <ChangePassword />
</div>



@code
{
    [Inject]
    public IdentityAuthenticationStateProvider AuthenticationProvider { get; set; }

    private string UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        UserName = (await AuthenticationProvider.GetAuthenticationStateAsync()).User?.Identity?.Name;
    }
}
