@page "/auth/resetPassword"
@using BlazorIdentityBase.Client.Services
@using BlazorIdentityBase.Shared.Authentication
@using System.ComponentModel.DataAnnotations

<h2>Reset Password</h2>

@if (Errors != null)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<EditForm Model="Model" OnValidSubmit="ResetPasswordAsync" class="card card-body bg-light my-4">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">
            Email
        </label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="Model.Email" type="email" />
            <ValidationMessage For="() => Model.Email" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">
            Password
        </label>
        <div class="col-md-10">
            <InputText id="password" class="form-control" @bind-Value="Model.NewPassword" type="password" />
            <ValidationMessage For="() => Model.NewPassword" />
        </div>
    </div>
    <div class="form-group row">
        <label for="confirmPassword" class="col-md-2 col-form-label">
            Confirm Password
        </label>
        <div class="col-md-10">
            <InputText id="confirmPassword" class="form-control" @bind-Value="Model.ConfirmPassword" type="password" />
            <ValidationMessage For="() => Model.ConfirmPassword" />
        </div>
    </div>
    <div class="form-group row">
        <label for="resetToken" class="col-md-2 col-form-label">
            Reset Token
        </label>
        <div class="col-md-10">
            <InputText id="resetToken" class="form-control" disabled="@IsTokenPreFilled" @bind-Value="Model.Token" autocomplete="off" />
            <ValidationMessage For="() => Model.Token" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary btn-block" disabled="@IsSubmitting">
                Reset Password
            </button>
        </div>
    </div>
</EditForm>

@code
{
    [Inject]
    public IdentityAuthenticationStateProvider AuthenticationProvider { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private class ResetPasswordModel : ResetPasswordRequest
    {
        [Required]
        [Compare(nameof(NewPassword), ErrorMessage = "Passwords do not match.")]
        public string ConfirmPassword { get; set; }
    }

    private ResetPasswordModel Model { get; } = new();

    private IList<string>? Errors { get; set; }

    private bool IsTokenPreFilled { get; set; }

    private bool IsSubmitting { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Model.Email = NavigationManager.GetQueryParameter("email");
        Model.Token = NavigationManager.GetQueryParameter("token", unEscape: true);
        IsTokenPreFilled = !string.IsNullOrWhiteSpace(Model.Token);
    }

    private async Task ResetPasswordAsync()
    {
        IsSubmitting = true;

        var result = await AuthenticationProvider.ResetPasswordAsync(Model.Email, Model.Token, Model.NewPassword);
        if (result.WasSuccessful)
            NavigationManager.NavigateTo("/");
        else
            Errors = result.Errors?.ToList() ?? new List<string>();

        IsSubmitting = false;
    }
}