@inherits LayoutComponentBase

<Text Class="header" Alignment="TextAlignment.Center" Padding="Padding.Is5.FromTop.Is4.FromBottom">
    <a class="header" href="/">
        <QuibbleIcon/>
    </a>
</Text>
<Container Class="auth-form" Fluid="true" Margin="Margin.IsAuto">
    <div class="auth-form">
        @Body
    </div>
</Container>
