@inherits LayoutComponentBase

<div class="cwrapper">
    <Text Class="header" Alignment="TextAlignment.Center" Padding="Padding.Is5.FromTop.Is4.FromBottom">
        <a href="/">
            <QuibbleIcon/>
        </a>
    </Text>
    <Container Class="auth-form" Fluid="true" Margin="Margin.IsAuto">
        @Body
    </Container>
</div>