
<div class="q-synced-text-field @(IsSaveIconShown ? "q-synced-text-field-saved" : string.Empty)">
    <TextEdit Role="TextRole.Text" 
              Text="@LocalValue" 
              TextChanged="OnTextChanged" 
              Blur="OnBlurAsync"
              Size="Size">
    </TextEdit>
</div>
