@using Microsoft.Extensions.Logging
@inject ILogger<UpdateEventInput> Logger

@if (!string.IsNullOrWhiteSpace(Label))
{
    <label>@Label</label>
}

<input type="text" class="form-control @Class" value="@Value" placeholder="@Placeholder" @oninput="OnInput" @onblur="OnBlur" @attributes="Attributes"/>

